.about-us {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-us__title {
    margin-bottom: 154px;
    margin-top: 0;
}

.about-us__description {
    display: flex;
    justify-content: space-between;
}

.about-us__text {
    max-width: 545px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.15;
}
