.intro {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;

    &--w-cover {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(16, 36, 58, 0.5);
            z-index: 2;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -40px;
            left: -10%;
            width: 120%;
            height: 162px;
            background: linear-gradient(180deg, #94a9bf -5.5%, #ffffff 40%);
            filter: blur(20px);

            @include mq(1200) {
                height: 100px;
            }
        }
    }

    @include mq(1200) {
        text-align: center;
    }
}

.page__title {
    font-weight: 300;
    @include fz(160, 57);
    line-height: 100%;
    color: #fbfbfc;

    text-shadow: 0px 8px 6px rgba(0, 0, 0, 0.5);

    margin-top: 0;
    margin-bottom: 20px;

    position: relative;
    z-index: 3;

    &--home {
        @include fz(160, 80);
    }
}

.page__subtitle {
    font-weight: 300;
    @include fz(60, 20);
    line-height: 100%;
    color: #fbfbfc;

    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);

    margin: 0;
    position: relative;
    z-index: 3;
}

.intro__slider {
    position: relative;
}

.intro__slider-wrapper {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.intro__slide {
    padding: 260px $section-padding-right 400px $section-padding-left;

    position: relative;

    transition: opacity 0.5s;

    @include mq(1200) {
        padding-top: 200px;
        padding-bottom: 300px;
        padding-left: $section-padding-left--1200;
        padding-right: $section-padding-right--1200;
    }
    @include mq(640) {
        padding-top: 240px;
        padding-bottom: 380px;
        padding-left: $section-padding-left--640;
        padding-right: $section-padding-right--640;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(16, 36, 58, 0.5);
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: -10%;
        width: 120%;
        height: 162px;
        background: linear-gradient(180deg, #94a9bf -5.5%, #ffffff 40%);
        filter: blur(20px);

        z-index: 2;
    }
}

.intro__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro__slider-pagination {
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    bottom: 200px;

    display: flex;
    column-gap: 14px;

    @include mq(1200) {
        bottom: 160px;
    }
    // @include mq(992) {
    //     bottom: 240px;
    // }
    @include mq(640) {
        bottom: 200px;
    }

    & .swiper-pagination-bullet {
        width: 20px;
        height: 20px;

        background-color: rgba(16, 36, 58, 0.3);
        border: 1px solid #fbfbfc;
        border-radius: 50%;

        cursor: pointer;
    }

    & .swiper-pagination-bullet-active {
        background-color: #fbfbfc;
    }
}
