.gallery-item {
}

.gallery-slides {
    padding-left: $section-padding-left;
    padding-right: $section-padding-right;
    padding-top: 100px;
    padding-bottom: 100px;

    @include mq(1200) {
        padding-left: $section-padding-left--1200;
        padding-right: $section-padding-right--1200;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include mq(768) {
        padding-left: $section-padding-left--768;
        padding-right: $section-padding-right--768;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.gallery-slides__title {
    font-weight: 600;
    @include fz(40, 16);
    line-height: 120%;

    text-align: center;

    color: #000000;

    max-width: 826px;
    margin-left: auto;
    margin-right: auto;
}
