.single-event__main-order {
    margin: 100px auto;
}

.single-event__description {
    margin-left: $section-padding-left;
    margin-right: $section-padding-right;
    padding-right: 11.5vw;

    @include mq(1200) {
        margin-left: $section-padding-left--1200;
        margin-right: $section-padding-right--1200;
    }
    @include mq(768) {
        margin-left: $section-padding-left--768;
        margin-right: $section-padding-right--768;
    }

    & p {
        font-weight: 300;
        @include fz(24, 12);
        line-height: 124%;
        color: #000000;
        margin-top: 0;

        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
}

.single-event__lications-title {
    @include fz(56, 18);
    line-height: 1.25;
    text-align: center;

    color: #000000;

    margin-top: 100px;
    margin-bottom: 60px;
}

.single-event__lications {
    padding-left: 0;
    list-style-type: none;
    margin-left: $section-padding-left;
    margin-right: $section-padding-right;

    @include mq(1200) {
        margin-left: $section-padding-left--1200;
        margin-right: $section-padding-right--1200;
    }
    @include mq(768) {
        margin-left: $section-padding-left--768;
        margin-right: $section-padding-right--768;
    }
}

.event-location {
    display: grid;

    align-items: start;
    column-gap: 8.6vw;
    margin-bottom: 140px;
    position: relative;

    @include mq(1360) {
        column-gap: 60px;
    }
    @include mq(1200) {
        column-gap: 40px;
    }

    &:nth-child(odd) {
        grid-template-columns: 400px 1fr;

        @include mq(1200) {
            grid-template-columns: 300px 1fr;
        }

        & .event-location__params {
            left: 0;
        }

        & .event-location__order {
            left: 0;
        }
    }

    &:nth-child(even) {
        grid-template-columns: 1fr 400px;

        @include mq(1200) {
            grid-template-columns: 1fr 300px;
        }

        & .event-location__description {
            order: -1;
        }

        & .event-location__params {
            right: 0;
        }

        & .event-location__order {
            right: 0;
        }
    }

    @include mq(768) {
        &:nth-child(n) {
            grid-template-columns: 1fr;
        }
    }
}

.event-location__slider {
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 400px;

    @include mq(1360) {
        padding-bottom: 320px;
    }
    @include mq(768) {
        order: -1;
        padding-bottom: 0;
    }
}

.event-location__slider-wrapper {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.event-location__img-link {
    position: relative;
    display: flex;

    @include mq(768) {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    @include mq(576) {
        max-width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url(../images/loupe.png);
        background-size: 79px;
        background-repeat: no-repeat;
        background-position: center;

        @include mq(768) {
            background-size: 60px;
        }

        @include mq(576) {
            background-size: 45px;
        }
    }
}

.event-location__slider-img {
    border-radius: 40px;
    object-fit: cover;

    @include mq(1200) {
        height: 300px;
    }
    @include mq(768) {
        width: 100%;
    }
}

.event-location__description {
    align-self: center;
    color: #fff;
    position: relative;

    @include mq(768) {
        background-color: $main-color;
        border-radius: 20px;

        padding: 20px 24px;
        margin-top: -30px;
        z-index: 1;

        max-width: calc(80% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
    @include mq(576) {
        padding: 14px 16px;
        max-width: calc(100% - 40px);
    }
}

.event-location__description-wrapper {
    background-color: $main-color;
    border-radius: 40px;

    padding: 45px;
    margin-bottom: 60px;

    @include mq(1360) {
        padding: 40px;
    }
    @include mq(1200) {
        padding: 32px;
    }
    @include mq(768) {
        background-color: transparent;
        border-radius: 0;

        padding: 0;
    }
}

.event-location__title {
    @include fz(28, 14);
    line-height: 164%;
    margin-top: 0;
    margin-bottom: 26px;
}

.event-location__text {
    font-weight: 300;
    @include fz(20, 12);
    line-height: 164%;

    margin-top: 0;
    margin-bottom: 50px;
}

.event-location__excerpt {
    font-weight: 600;
    @include fz(24, 12);
    line-height: 164%;
}

.event-location__params {
    position: absolute;
    top: 465px;
    z-index: 1;
    border: 1px solid $main-color;
    border-radius: 40px;
    padding: 50px;
    width: 400px;
    min-height: 300px;

    font-weight: 600;
    @include fz(24, 10);
    line-height: 164%;
    color: $main-color;
    text-align: center;

    display: grid;
    align-content: center;

    @include mq(1360) {
        padding: 40px;
        min-height: 240px;
    }
    @include mq(1200) {
        top: 365px;
        width: 300px;
        padding: 32px;
    }
    @include mq(768) {
        display: none;
    }

    &--mobile {
        display: none;
        position: static;
        color: #fff;
        padding: 0;
        text-align: left;
        min-height: auto;

        @include mq(768) {
            width: auto;
            min-height: auto;
            display: block;
            border: none;
        }
    }
}

.event-location__param {
    margin-top: 0;
    margin-bottom: 0;
}

.event-location__order {
    margin-top: 0;

    @include mq(768) {
        color: #fff;
        border-color: #fff;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;

        &:hover {
            border-color: #fff;
            background-color: #fff;
            color: $main-color;
        }
    }

    @include mq(576) {
        min-width: 200px;
    }
    @include mq(360) {
        min-width: max-content;
    }
}

.single-event__slider-btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    top: 200px;
    transform: translateY(-50%);
    z-index: 2;

    @include mq(768) {
        top: 150px;
    }

    &.swiper-button-prev {
        right: 20px;
    }
    &.swiper-button-next {
        left: 20px;
    }
}
