.contact-gallery {
    padding-left: $section-padding-left;
    padding-right: $section-padding-right;
    padding-top: 40px;
    padding-bottom: 40px;

    @include mq(1200) {
        padding-left: $section-padding-left--1200;
        padding-right: $section-padding-right--1200;
    }
    @include mq(768) {
        padding-left: $section-padding-left--768;
        padding-right: $section-padding-right--768;
    }
}

.contact-gallery__title {
    font-weight: 600;
    @include fz(40, 18);
    line-height: 120%;

    color: #000000;
    margin-top: 0;
    margin-bottom: 90px;

    @include mq(768) {
        margin-bottom: 50px;
    }
}

.contact-slider-title {
    @include fz(24, 16);
    font-weight: 600;
    color: #fff;

    margin: 0;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}
