.breadcrumbs {
    padding-left: $section-padding-left;
    padding-right: $section-padding-right;

    @include mq(1200) {
        padding-left: $section-padding-left--1200;
        padding-right: $section-padding-right--1200;
    }
    @include mq(640) {
        padding-left: $section-padding-left--640;
        padding-right: $section-padding-right--640;
    }
    list-style-type: none;
    margin: 40px 0 0;

    display: flex;

    @include mq(576) {
        display: none;
    }
}

.breadcrumbs__item {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:first-child) {
        &::before {
            content: "";
            width: 24px;
            border: 2px solid #bcc0c8;
            margin-left: 18px;
            margin-right: 18px;
            margin-top: 4px;
        }
    }
    &:last-child {
        &::before {
            border-color: #000000;
        }
    }
}

.breadcrumbs__link {
    font-size: 22px;
    line-height: 29px;
    color: rgba(16, 36, 58, 0.5);

    &--current {
        color: rgba(16, 36, 58, 0.8);
    }
}
