.page-footer {
    padding: 115px $section-padding-right 50px $section-padding-left;

    @include mq(1200) {
        padding-left: $section-padding-left--1200;
        padding-right: $section-padding-right--1200;
    }
    @include mq(992) {
        padding-top: 100px;
        padding-bottom: 40px;
    }
    @include mq(768) {
        padding-top: 80px;
        padding-left: $section-padding-left--768;
        padding-right: $section-padding-right--768;
    }
    @include mq(640) {
        padding-top: 60px;
    }

    @include mq(576) {
        padding-top: 40px;
    }
}

.footer-menu {
    padding-left: 0;
    margin: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 59px;

    @include mq(1200) {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
    @include mq(640) {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-around;
        gap: 20px;
    }
}

.footer-menu__link {
    font-weight: 300;
    @include fz(28, 14);
    line-height: 1.2;
    text-transform: uppercase;
    color: #868f9b;

    display: flex;

    &--current {
        font-weight: 500;
        color: $main-color;
    }

    &:hover {
        font-weight: 500;
        color: $main-color;
    }
}

.page-footer__socials {
    margin-top: 124px;
    margin-bottom: 0;

    @include mq(1200) {
        column-gap: 22px;
        margin-top: 80px;
    }
    @include mq(640) {
        margin-top: 43px;
        margin-bottom: 30px;
    }
}

.socials {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    column-gap: 32px;
}

.socials__link {
    display: flex;

    & svg {
        width: 50px;
        height: 50px;

        @include mq(1200) {
            width: 40px;
            height: 40px;
        }
        @include mq(640) {
            width: 32px;
            height: 32px;
        }
    }
}

.copyright-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.copyright {
    font-weight: 400;
    @include fz(18, 6);
    line-height: 164%;
    text-transform: uppercase;

    color: $main-color;

    padding-left: 56px;
    margin: 0;

    background-image: url(../images/copyright.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;

    @include mq(1200) {
        padding-left: 36px;
    }
    @include mq(640) {
        padding-left: 26px;
    }
}

.page-footer__logo {
    object-fit: contain;

    @include mq(1200) {
        width: auto;
        height: 40px;
    }
    @include mq(640) {
        width: 84px;
        height: 23px;
    }
}
