.page__header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;

    display: flex;
    justify-content: space-between;

    padding-left: 72px;
    padding-right: 72px;

    &--menu-show {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: $main-color;
            z-index: -1;
        }
    }

    @include mq(1200) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @include mq(640) {
        padding-left: 30px;
        padding-right: 30px;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
}

.page__logo {
    padding-top: 33px;
    padding-bottom: 33px;

    margin-left: auto;
    // margin-right: auto;
}

.page__logo-img {
    object-fit: contain;

    @include mq(1200) {
        width: 140px;
        height: 50px;
    }
    @include mq(640) {
        width: 94px;
        height: 25px;
    }
}

.page__logo-img {
    filter: drop-shadow(0px 8px 2px rgba(255, 255, 255, 0.8));
}

.menu-toggle {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;

    & svg {
        margin-right: 35px;
        object-fit: contain;
        display: none;

        &.menu-toggle-visible {
            display: block;
        }
        @include mq(1200) {
            width: 28px;
        }

        @include mq(640) {
            width: 20px;
            margin-right: 0;
        }
    }

    @include mq(640) {
        width: max-content;

        & span {
            display: none;
        }
    }
}

.page__nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    // height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    padding: 200px 145px 173px 160px;

    background-color: $main-color;

    display: none;

    @include mq(1200) {
        padding: 160px 80px 100px;
    }
    @include mq(992) {
        padding: 120px 60px 80px;
    }
    @include mq(640) {
        padding: 120px 30px 60px;
    }

    &--visible {
        display: grid;
    }

    &::after {
        content: "";
        position: fixed;
        left: calc(50% - 0.5px);
        top: 0;
        height: 100%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 0;

        @include mq(768) {
            content: none;
        }
    }
}

.main-menu {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    // overflow: hidden;
    display: grid;
    row-gap: 18px;

    position: relative;
}

.main-menu__item {
    width: 50%;

    @include mq(640) {
        width: 100%;
    }
}

.main-menu__link {
    display: flex;

    font-weight: 300;
    @include fz(24, 18);
    line-height: 1.4;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.main-menu__item:hover .main-menu__link {
    color: #ffffff;
    font-weight: 500;
}

.main-menu__sublist {
    display: none;
}

.main-menu__item:hover .main-menu__sublist {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;

    @include mq(640) {
        display: none;
    }
}

.main-menu__sublist-item {
    margin-bottom: 30px;
}

.main-menu__sublist-link {
    display: grid;
    font-weight: 300;
    @include fz(24, 16);
    line-height: 150%;
    color: #ffffff;

    & img {
        margin-top: 30px;

        @include mq(1200) {
            height: 160px;
        }
        @include mq(992) {
            height: 100px;
        }
    }
}

.nav-meta {
    font-weight: 300;
    @include fz(24, 10);
    line-height: 100%;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 80px;
}

.nav-meta__item {
    display: grid;
    grid-template-columns: 220px auto;

    @include mq(1200) {
        grid-template-columns: 160px auto;
    }
    @include mq(992) {
        grid-template-columns: 140px auto;
    }

    & a {
        margin-right: 16px;
        color: inherit;

        &:hover {
            font-weight: 500;
            color: #fff;
        }
    }
}

.nav-meta__call-us {
    margin-bottom: 16px;
}

.lang-switcher {
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;

    align-self: center;

    display: flex;

    &--desktop {
        margin-left: 102px;

        @include mq(1200) {
            margin-left: 50px;
        }
        @include mq(992) {
            display: none;
        }
    }

    &--mobile {
        display: none;

        @include mq(992) {
            display: flex;
            order: -1;
            margin-bottom: 40px;
        }
    }
}

.lang-switcher__item {
    display: flex;

    &:not(:last-child) {
        &::after {
            @include fz(18, 14);
            line-height: 100%;
            color: #b0b0b0;

            content: "/";
            margin-right: 3px;
            margin-left: 3px;
        }
    }
}

.lang-switcher__link {
    font-weight: 300;
    @include fz(18, 14);
    line-height: 100%;
    color: #b0b0b0;
    text-transform: uppercase;

    &--active {
        color: #fff;
    }
}

.personal-cabinet {
    align-self: center;
    font-weight: 300;
    @include fz(18, 16);
    line-height: 100%;
    text-transform: uppercase;

    color: #ffffff;

    margin-right: 73px;
    margin-left: auto;

    @include mq(1200) {
        padding: 10px;
        background-image: url(../images/personal-cabinet.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        & span {
            display: none;
        }
    }

    @include mq(800) {
        margin-right: 0;
    }
}

.booking {
    font-weight: 300;
    @include fz(18, 16);
    line-height: 100%;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 72px;
    border-left: 1px solid rgba(255, 255, 255, 0.6);

    @include mq(1200) {
        padding-left: 50px;
    }

    @include mq(800) {
        display: none;
    }
}
