.page__header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;

    display: flex;
    justify-content: space-between;

    padding-left: 72px;
    padding-right: 72px;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
}

.page__logo {
    padding-top: 33px;
    padding-bottom: 33px;

    margin-left: auto;
    // margin-right: auto;
}

.page__logo-img {
    filter: drop-shadow(0px 8px 2px rgba(255, 255, 255, 0.8));
}

.menu-toggle {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;

    & svg {
        margin-right: 35px;
        object-fit: contain;
        display: none;

        &.menu-toggle-visible {
            display: block;
        }
    }
}

.page__nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    // height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    padding: 200px 145px 173px 160px;

    background-color: #10243a;

    &::after {
        content: "";
        position: fixed;
        left: calc(50% - 0.5px);
        top: 0;
        height: 100%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 0;
    }
}

.main-menu {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    width: 50%;
    display: grid;
    row-gap: 24px;

    position: relative;
}

.main-menu__link {
    display: flex;

    font-weight: 300;
    @include fz(54, 24);
    line-height: 1.4;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.main-menu__item:hover .main-menu__link {
    color: #ffffff;
    font-weight: 500;
}

.main-menu__sublist {
    display: none;
}

.main-menu__item:hover .main-menu__sublist {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
}

.main-menu__sublist-item {
    margin-bottom: 30px;
}

.main-menu__sublist-link {
    display: block;
    font-weight: 300;
    font-size: 36px;
    line-height: 150%;
    color: #ffffff;
}

.lang-switcher {
    padding-left: 0;
    list-style-type: none;
    margin: 0 0 0 102px;

    align-self: center;

    display: flex;
}

.lang-switcher__item {
    display: flex;

    &:not(:last-child) {
        &::after {
            font-size: 18px;
            line-height: 18px;
            color: #b0b0b0;

            content: "/";
            margin-right: 3px;
            margin-left: 3px;
        }
    }
}

.lang-switcher__link {
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: #b0b0b0;
    text-transform: uppercase;

    &--active {
        color: #fff;
    }
}

.personal-cabinet {
    align-self: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;

    color: #ffffff;

    margin-right: 73px;
    margin-left: auto;
}

.booking {
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 72px;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
}
