.container {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.page__body {
    font-family: "Eastman", sans-serif;
    color: $main-color;
    background-color: #fbfbfc;

    &--w-popup {
        overflow: hidden;
    }
}

.page__wrapper {
    position: relative;
    // background-image: url(../images/main-decor.png);
    // background-size: 100% 100%;
}

.section__title {
    font-weight: 300;
    @include fz(60, 40);
    line-height: 125%;

    padding-left: $section-padding-left;
    padding-right: $section-padding-right;

    @include mq(1200) {
        padding-left: $section-padding-left--1200;
        padding-right: $section-padding-right--1200;
    }
    @include mq(640) {
        padding-left: $section-padding-left--640;
        padding-right: $section-padding-right--640;
    }

    &::before {
        content: "Navy";
        display: block;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.3;
        color: rgba(16, 36, 58, 0.5);
    }
}
