.container {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.page__body {
    font-family: 'Eastman', sans-serif;
    color: $main-color;
    background-color: #fbfbfc;

    &--w-popup {
        overflow: hidden;
    }
}

.page__main {
    position: relative;
}

.decor-img {
    position: absolute;
    left: 0;
    top: 100vh;
    width: 100%;
    // height: 100%;
    object-fit: contain;

    &--single-pool {
        top: 130vh;

        @include mq(880) {
            display: none;
        }
    }
    &--single-pool-mobile {
        display: none;

        @include mq(880) {
            top: 130vh;

            display: block;
            // object-fit: scale-down;
        }
    }
}

.page__title {
    font-weight: 300;
    @include fz(160, 60);
    line-height: 100%;
    color: #fbfbfc;
    text-transform: uppercase;
    text-shadow: 0px 8px 6px rgba(0, 0, 0, 0.5);

    word-wrap: break-word;

    margin-top: 0;
    margin-bottom: 20px;

    position: relative;
    z-index: 3;

    &--inner-page {
        @include fz(160, 46);
        text-align: center;
    }

    &--rooms {
        @include fz(160, 50);
        width: min-content;
        margin-left: auto;
        margin-right: auto;
    }
}

.page__subtitle {
    font-weight: 300;
    @include fz(60, 20);
    line-height: 100%;
    color: #fbfbfc;

    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);

    margin: 0;
    position: relative;
    z-index: 3;
}

.section__title {
    font-weight: 300;
    @include fz(60, 36);
    line-height: 125%;

    padding-left: $section-padding-left;
    padding-right: $section-padding-right;

    @include mq(1200) {
        padding-left: $section-padding-left--1200;
        padding-right: $section-padding-right--1200;
    }
    @include mq(768) {
        padding-left: $section-padding-left--768;
        padding-right: $section-padding-right--768;
    }

    &--home-page {
        &::before {
            content: 'Navy';
            display: block;
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.3;
            color: rgba(16, 36, 58, 0.5);
        }
    }
}

.btn {
    padding: 20px 48px;
    border: 1px solid #000000;
    border-radius: 40px;
    display: block;
    width: 100%;
    min-width: max-content;
    max-width: 360px;

    font-weight: 300;
    @include fz(24, 12);
    line-height: 1;
    text-align: center;
    color: $main-color;

    transition: color 0.5s, background-color 0.5s;

    margin-top: 60px;

    @include mq(1360) {
        padding: 16px 40px;
    }
    @include mq(1200) {
        padding: 14px 32px;
        max-width: 300px;
    }
    @include mq(768) {
        max-width: 260px;
    }

    &:hover {
        color: #ffffff;
        background-color: $main-color;
        border: 1px solid $main-color;
    }

    &--white {
        color: #fff;
        border-color: #fff;

        &:hover {
            color: $main-color;
            background-color: #fff;
        }
    }
}

.menu-btn {
    @extend .btn;
}

.order-btn {
    @extend .btn;
}

.entity-types {
    padding-left: $section-padding-left;
    padding-right: $section-padding-right;

    @include mq(1200) {
        padding-left: $section-padding-left--1200;
        padding-right: $section-padding-right--1200;
    }
    @include mq(768) {
        padding-left: $section-padding-left--768;
        padding-right: $section-padding-right--768;
    }

    width: 1130px;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 18px;

    &--events {
        width: 100%;
    }

    @include mq(1360) {
        width: 100%;
        justify-content: flex-start;
    }

    @include mq(768) {
        display: none;
    }
}

.entity-types__item {
    min-height: 32px;

    margin-right: 40px;
}

.entity-types__link {
    @include fz(22, 16);
    line-height: 1;
    color: $main-color;

    &--current {
        font-weight: 500;
    }
    &:hover {
        font-weight: 500;
    }
}
