$main-color: #10243a;
$section-padding-left: 86px;
$section-padding-right: 86px;

$section-padding-left--1200: 66px;
$section-padding-right--1200: 66px;

$section-padding-left--768: 30px;
$section-padding-right--768: 30px;
