@use 'sass:math';

// Подключение шрифтов из папки "./src/fonts" =======================================================================================================================
@import './config/fonts';

// Подключение sass функций и миксинов =======================================================================================================================
@import './config/functions';
@import './config/mixins';

// Подключение переменных =======================================================================================================================
@import './config/vars';

// Обнуление =======================================================================================================================
@import './config/reset';

// Общие параметры, шаблоны(заготовки) и вспомагательные классы =======================================================================================================================
@import './config/base';

@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/modules/effect-fade/effect-fade.scss';

// Подключение стилей отдельных блоков и секций =======================================================================================================================
@import './layout/header';

// HOME PAGE STYLES
@import './layout/home/intro';
@import './layout/home/about-us';
@import './layout/home/hotel';
@import './layout/home/contact';

// BREADCRUMBS STYLES
@import './layout/breadcrumbs';

// HOTEL PAGE STYLES
@import './layout/hotel/rooms';

// ROOM PAGE STYLES
@import './layout/standart-room/room-params';

// RESTAURANT PAGE
@import './layout/restaurant/description';

// POOLS PAGE
@import './layout/pools/about';

// SINGLE POOL PAGE STYLES
@import './layout/single-pool/description';

// EVENTS PAGE STYLES
@import './layout/events/description';

// SINGLE EVENT PAGE
@import './layout/single-event/description';

// CONTACT PAGE STYLES
@import './layout/contacts/data';
@import './layout/contacts/how-to-reach';
@import './layout/contacts/contacts-gallery';

// GALLERY PAGE STYLES
@import './layout/gallery/gallery';

// POSTERS PAGE STYLES
@import './layout/posters/posters';

@import './layout/rooms-slider';
@import './layout/footer';
