@use "sass:math";

// Подключение шрифтов из папки "./src/fonts" =======================================================================================================================
@import "config/fonts";

// Подключение sass функций и миксинов =======================================================================================================================
@import "config/functions";
@import "config/mixins";

// Подключение переменных =======================================================================================================================
@import "config/vars";

// Обнуление =======================================================================================================================
@import "config/reset";

// Общие параметры, шаблоны(заготовки) и вспомагательные классы =======================================================================================================================
@import "config/base";

@import "../../node_modules/swiper/swiper.scss";

// Подключение стилей отдельных блоков и секций =======================================================================================================================
@import "layout/header";

@import "layout/home/intro";
@import "layout/home/about-us";
@import "layout/home/hotel";
@import "layout/home/contact";

@import "layout/footer";
